.kutu{
    width: 100px;
    height: 100px;
}

.kutu1{
    background-color: blue;
}
.kutu2{
    background-color: aquamarine;
    flex: 2;
}
.kutu3{
    background-color: brown;
    flex: 3;
}
.kutu4{
    background-color: chartreuse;
}
.container{
    display: flex;
}